:root
{
    --third-color:#F9E79F;
    --second-color:#D6EAF8;
    --main-color:#935116;
    --font:#eaddca;
    --button:#FCF3CF;
    --anwser:#A3E4D7 ;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    font-family: 'Oswald';  
}
header
{
    background-color: var(--second-color); 
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
main
{
    background-color: var(--main-color);
    height: 75vh;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr;
}   
section
{
    width: 100%;
    height: 100%;
}
aside
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /*background-color:#B7950B;*/
    border: 5px solid var(--third-color);
    border-radius: 3%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
aside p
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--font);
    font-weight: lighter;
    font-size: 1.6rem;
}
aside a
{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--font) ;
    font-weight: 700;

}
section ul
{
    display: grid;
    grid-template-columns:  150px 150px  ;
    grid-template-rows: repeat(2, minmax(100px, 150px));
    place-content: center;
    list-style: none;
}

li 
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
figcaption
{
    display: flex;
    justify-content: center;
    align-items: center;
}
img
{
    width: 7rem;
    height: 7rem;
}
ul a
{
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--font) ;

}
footer
{
    height: 10vh;
    background-color: var(--second-color);
}