*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
    font-family: 'Oswald';
}
header
{
    background-color: #D6EAF8; 
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
main
{
    background-color: #935116 ;
    height: 85vh;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: #eaddca ;
    display: grid;
    place-content: center;
    grid-auto-columns: auto;
    grid-template-rows: minmax(145px, auto) minmax(185px, auto) minmax(145px, auto);
}

form
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    margin: 5px;
}
.question
{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

img
{
    display: block;
    margin-left: calc(50% - 30px);
    width: 35px;
    height: 35px;
}
.button-question
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

input
{
    width: 60%;
}
button
{
    font-size: 1.1rem;
    background-color: #FCF3CF;
    border-radius: 10%;
    padding: 0.4vh 0;
    width: 70%;
    height: auto;
}
.anwser
{
    display: flex;
   
    align-items: center;
}
form p
{
    margin-left: 15px;
    color:#A3E4D7 ;
    /*background-color: #A3E4D7;*/
    /*color: #2E4053  ;*/
    font-size: 1.5rem;
    font-weight: bold;
}