:root
{
    --third-color:#F9E79F;
    --second-color:#D6EAF8;
    --main-color:#935116;
    --font:#eaddca;
    --button:#FCF3CF;
    --anwser:#A3E4D7 ;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
    font-family: 'Oswald';
}
header
{
    background-color: #D6EAF8; 
    width: 100%;
    height: 15vh;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

}
main
{
    background-color: var(--main-color) ;
    height: 75vh;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--font) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button
{
    font-size: 1.1rem;
    background-color: var(--button);
    border-radius: 10%;
    padding: 0.4vh 0;
    width: 40vw;
    max-width: 200px;
    height: auto;
}
input
{
    text-align: center;
}
form
{
    padding: 10px;
    display: grid;
    height: 30%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
form p
{
 margin: 2rem;
 background-color: transparent;
 height: auto;
 width: auto;
 font-weight: lighter;
 color: var(--anwser);
 display: flex;
 justify-content: center;
 grid-row: 2 / 3;
}
section
{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
section p 
{
    color: var(--main-color);
    font-weight: 500;
    width: 30vw;
    max-width: 200px;
    background-color:#F7DC6F ;
    display: flex;
    justify-content: center;
    border-radius: 8%;
}
footer
{
    height: 10vh;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    background-color:var(--third-color);
}
footer p
{
    font-size: 1rem;
    font-weight: 300;
    width: 35%;


}
footer a
{
    width: 30px;
    max-width: 35px;
    height: 32px;
    background-image:url("../assets/Icons/flecha-hacia-atras.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}