:root
{
    --second-color:#D6EAF8;
    --main-color:#935116;
    --font:#eaddca;
    --button:#FCF3CF;
    --anwser:#A3E4D7 ;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
    font-family: 'Oswald';
}
header
{
    background-color: #D6EAF8; 
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
main
{
    background-color: var(--main-color) ;
    height: 75vh;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--font) ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 140px) minmax(auto, 110px) minmax(auto, 150px);;
}
form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input
{
    width: 35vw;
    max-width: 180px;
    text-align: center;
}
button
{
    font-size: 1.1rem;
    background-color: var(--button);
    border-radius: 10%;
    padding: 0.4vh 0;
    margin-bottom: 15vh;
    width: 40vw;
    max-width: 200px;
    height: auto;
}
section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section p
{
    margin-left: 15px;
    color:var(--anwser);
    font-size: 1.8rem;
    font-weight: bold;
}
footer
{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#F9E79F;
}
footer p
{
    font-size: 1rem;
    font-weight: 300;
    width: 35%;


}
footer a
{
    width: 30px;
    max-width: 35px;
    height: 32px;
    background-image:url("../../assets/Icons/flecha-hacia-atras.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}