:root
{
    --third-color:#F9E79F;
    --second-color:#D6EAF8;
    --main-color:#935116;
    --font:#eaddca;
    --button:#FCF3CF;
    --anwser:#A3E4D7 ;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    font-family: 'Oswald';  
}
header
{
    background-color: #D6EAF8; 
    width: 100%;
    height: 15vh;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

}
main
{
    background-color: var(--main-color) ;
    height: 75vh;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--font) ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input
{
    max-width: 200px ;
    text-align: center;
}
select
{
    max-width: 200px ;
    text-align: center;
}
button
{
    font-size: 1.1rem;
    background-color: var(--button);
    border-radius: 10%;
    padding: 0.4vh 0;
    width: 40vw;
    max-width: 200px;
    height: auto;
}

form
{
    width: 80vw;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
section
{
    width: 80vw;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer
{
    height: 10vh;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    background-color:var(--third-color);
}
footer p
{
    font-size: 1rem;
    font-weight: 300;
    width: 35%;


}
footer a
{
    width: 30px;
    max-width: 35px;
    height: 32px;
    background-image:url("../assets/Icons/flecha-hacia-atras.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width:600px) 
{
    main
    {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
       grid-template-rows: auto;
    }
    form
{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
section
{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
}